body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none;
}

.react-tabs {
  display: flex;
}

.react-tabs__tab-list {
  padding: 0;
  height: calc(100vh);
  background-color: whitesmoke;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  width: 100%;
}

.react-tabs__tab.react-tabs__tab--selected {
  /*color: gray;*/
  background-color: rgba(55, 53, 47, 0.12);
}

.react-tabs__tab {
  padding: 3px 3rem;
}

.react-tabs__tab-list h3{
  padding: 3px 3rem;
  padding-top: 3rem;
}

.react-tabs__tab:hover {
  cursor: pointer;
}

.react-tabs__tab:hover {
  cursor: pointer;
}

.homework-input {
  margin-top: 12px;
  max-width: 750px;
}

ul {
  list-style: none;
  margin: 0;
}

input[type="text" i] {
    padding: 6px 10px;
    border-radius: 5px;
}

.cross {
  text-decoration: line-through;
}

.react-datepicker-popper {
  z-index: 10!important;
}

.home {
  cursor: default;
}

.title {
  font-size: 2rem;
  margin: 1rem;
}

.due-date {
  text-align: center;
  max-width: 13rem;
  height: 30px;
  /*padding-left: 10em;*/
}

.submit, .finished, .clear, .show {
  background-color: transparent;
  height: 44px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  max-width: 10rem;
  font-family: 'Open Sans', sans-serif;
}

.show {
  border: none;
  padding-left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-width: 5rem;
  align-self: center;
  color: black;
}

.morning-routine {
  justify-self: center;
}

.routine {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.to-do {
  margin-right: -6px;
}

.container {
  background: none;
  height: calc(100% - 3rem);
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  padding-top: 3rem;
  padding-left: 2rem;
}

.left.col {
  margin-right: 10px;
}

.list.row {
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.finished:hover, .clear:hover, .submit:hover {
  color: white;
  background-color: gray;
  border-color: grey;
}

.weekly {
  text-align: left;
}

.col input {
  height: 2rem;
  margin: 0;
}

button, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: 1px solid gray;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/*.black {*/
/*  color: gray;*/
/*  border: 1px solid gray;*/
/*}*/

/*.gray {*/
/*  color: gray;*/
/*  border: 1px solid gray;*/
/*  !*background-color: gray;*!*/
/*}*/

/*.gray:hover {*/
/*  cursor: default;*/
/*   color: gray;*/
/*  border: 1px solid gray;*/
/*  background-color: transparent;*/
/*}*/

.submit {
  max-width: 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}